In [5]:
#使用CSV
import pandas as pd

#讀取要合併的csv檔
csv1 = pd.read_csv('../data/fp_demo.csv')
csv2 = pd.read_csv('../data/fp_demo2.csv')

#以'日期'為index合併Dataframe
result = pd.merge(csv1, csv2, on='日期')
result.sort_index(ascending=False).head()

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數,美元／新台幣,人民幣／新台幣,歐元／美元,美元／日幣,英鎊／美元,澳幣／美元,美元／港幣,美元／人民幣,美元／南非幣,紐幣／美元
43,2017/11/30,"112,262,770","25,539,072,296",226.5,230.5,226.0,226.0,-8.5,"21,352",30.010,4.536972,1.18590,112.295,1.34635,0.75735,7.80820,6.61455,13.63700,0.68410
42,2017/11/29,"26,535,797","6,234,161,137",235.0,236.0,234.5,234.5,0.5,"6,976",29.990,4.544505,1.18680,111.465,1.34190,0.75895,7.80500,6.59920,13.60860,0.69135
41,2017/11/28,"47,834,178","11,198,457,400",234.5,235.0,233.0,234.0,-3.0,"15,262",30.001,4.544851,1.19040,111.300,1.33285,0.76000,7.80330,6.60110,13.75110,0.69250
40,2017/11/27,"32,247,327","7,696,717,391",240.0,240.0,237.0,237.0,-7.0,"14,743",30.006,4.548369,1.19385,111.240,1.33340,0.76185,7.80200,6.59710,14.03940,0.68810
39,2017/11/24,"11,404,453","2,777,319,771",242.0,244.5,241.5,244.0,1.5,"3,910",30.010,4.544654,1.18445,111.420,1.33135,0.76115,7.80785,6.60335,13.94585,0.68705

In [6]:
result.to_csv('../data/fp_demo3.csv', sep=',', encoding='utf-8-sig', index=False)

In [7]:
#使用SqLite
import pandas.io.sql as pd_sql
import sqlite3 as sql
import pandas as pd

#連線至sqlite檔案，若無該檔案sql，則會建立一個新的
conn = sql.connect("../data/twse.db")


df1 = pd.read_sql_query("select * from demo1;", conn)
df2 = pd.read_sql_query("select * from demo2;", conn)

#以'日期'為index合併Dataframe
result = pd.merge(df1, df2, on='日期')
#將result寫入sql檔中的'demo3'表中，無該資料表則會自動建立
result.to_sql("demo3", conn, if_exists="replace", index=False)

In [8]:
pd.read_sql_query("select * from demo3;", conn).sort_index(ascending=False).head()

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數,美元／新台幣,人民幣／新台幣,歐元／美元,美元／日幣,英鎊／美元,澳幣／美元,美元／港幣,美元／人民幣,美元／南非幣,紐幣／美元
43,2017/11/30,"112,262,770","25,539,072,296",226.50,230.50,226.00,226.00,-8.50,"21,352",30.01,4.536972,1.1859,112.295,1.34635,0.75735,7.8082,6.61455,13.637,0.6841
42,2017/11/29,"26,535,797","6,234,161,137",235.00,236.00,234.50,234.50,+0.50,"6,976",29.99,4.544505,1.1868,111.465,1.3419,0.75895,7.805,6.5992,13.6086,0.69135
41,2017/11/28,"47,834,178","11,198,457,400",234.50,235.00,233.00,234.00,-3.00,"15,262",30.001,4.544851,1.1904,111.3,1.33285,0.76,7.8033,6.6011,13.7511,0.6925
40,2017/11/27,"32,247,327","7,696,717,391",240.00,240.00,237.00,237.00,-7.00,"14,743",30.006,4.548369,1.19385,111.24,1.3334,0.76185,7.802,6.5971,14.0394,0.6881
39,2017/11/24,"11,404,453","2,777,319,771",242.00,244.50,241.50,244.00,+1.50,"3,910",30.01,4.544654,1.18445,111.42,1.33135,0.76115,7.80785,6.60335,13.94585,0.68705